body {
  background-image: url("/images/b3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
